* {
    margin: 0;
    padding: 0;
}

.container{
    margin-top: 50px;
}

#dojo_list {
    border: 2px solid black;
    padding: 3px;
}

li {
    list-style-type: none;
    /* margin: 0;
    padding: 0; */
}

input {
    margin-left: 10px;
}

section {
    margin: 10px;
}